<footer xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:src="@{//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{//code.jquery.com/jquery-1.12.3.min.js}"></script>
    <script type="text/javascript" th:src="@{//getbootstrap.com/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.8/packaged/jquery.noty.packaged.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js}"></script>
    <script type="text/javascript" th:src="@{//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js}"></script>
</footer>