<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Web market</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{//getbootstrap.com/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{//cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{//getbootstrap.com/examples/starter-template/starter-template.css}"/>
    <link rel="stylesheet" th:href="@{//getbootstrap.com/examples/signin/signin.css}"/>
    <link rel="stylesheet" th:href="@{//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css}"/>

</head>