<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="/fragments/head :: head"></head>
<body>
<nav th:substituteby="/fragments/body :: nav"></nav>
<div class="container">
    <div class="starter-template">
        <strong>Display</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row list-group">
        <div th:each="product : ${products}" th:remove="tag">
            <div th:if="${product.amount > 0}" th:remove="tag">
                <div class="item  col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" th:src="${product.imageUrl}" alt=""/>
                        <div class="caption">
                            <h4>
                                <h4 class="group inner list-group-item-heading" th:text="${product.brand}"
                                    th:remove="tag"></h4>
                                <h4 class="group inner list-group-item-heading" th:text="${product.type}"
                                    th:remove="tag"></h4>
                            </h4>
                            <p class="group inner list-group-item-text" th:text="${product.description}"></p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="lead">$
                                        <p th:text="${product.price}" th:remove="tag"></p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:substituteby="/fragments/footer :: footer"></footer>
<script type="text/javascript" th:src="@{/javascript/productsList.js}"></script>
</html>